* {
  box-sizing: border-box;
}
@media screen and (min-width: 850px) {
  .avt-wrapper {
    position: sticky;
    top: calc(50% - 205px);
  }
  
}
.avt-wrapper {
  background-color: #ffdaec;
  border: 15px solid #0baf94;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 450px;

}

.avt {
  position: relative;
  width: 290px;
  height: 290px;
  margin: 0;

}

img {
  width: 290px;
  height: 290px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}
.randomize {
  position: relative;
  z-index: 10;
  background-color: var(--yellow);
  text-transform: uppercase;
  color: var(--pink);
  border: none;
  border-radius: 10px;
  font-weight: bolder;
  padding: 0.5em 1em;
  width: 140px;
  font-size: 0.9em;
  cursor: pointer;
  margin-top: 5px;
}
